/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Design for Mobile starts here*/
@media screen and (max-width: 760px) {
.flex-container {
  display: flex;
  flex-direction: column;
  
}
.logo-image {
  width: 80px;
  height: 80px;
}
.menu {
  margin: auto;
  width: 100%;
  float: left;
  flex-direction: row;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #f7c00b;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.background {
  position: relative;
  width:100%;
}

.banner-image{
  width: 100%;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.about-flex {
  display: flex;
  flex-direction: column;
}
.tab ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(212, 23, 23);
}

.tab li {
  float: left;
}

.tab li a {
  display: block;
  color: rgb(184, 34, 34);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tab li a:hover:not(.active) {
  background-color: rgb(15, 66, 233);
}

.tab .active {
  background-color: #e00685;
}

.gallery-flex{
  display: flex;
  flex-direction: row;
}

.content {
  background-color: white;
  padding: 10px;
}
}

/*Design for Web starts here*/
@media screen and (min-width: 760px) {

.full-container{
  margin-left: 2%;
  margin-right: 2%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.logo-image {
  width: 80px;
  height: 80px;
}

.menu{
margin:auto;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(88, 88, 88);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(26, 26, 26);
}

.active {
  background-color: #f7c00b;
  ;
}

.text-block {
  position: absolute;
  bottom: 200px;
  right: 50%;
  background-color: rgb(97, 97, 97);
  color: white;
  padding-left: 100%;
  padding-right: 20px;
}


.background {
  position: relative;
  width:100%;
}
.centered {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 4rem;
  
}

.centered .sub-text{
 font-size: 3rem;
 color: #f1a516;
}

.banner-image{
  width: 100%;
}

.about-me h1{
  margin-left: 40%;
  font-size: 50px;
  padding-top: 40px;
}
.about-flex {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.about-content{
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.6;
}

.about-image{
max-width: 300px;
margin-right: 10PX;
}

.portfolio h1
{
  margin-left: 40%;
  font-size: 50px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.tab{
  margin:auto;
  }

.tab ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 225, 161);
}

.tab li {
  float: left;
}

.tab li a {
  display: block;
  color: rgb(19, 19, 19);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tab li a:hover:not(.active) {
  background-color: rgb(255, 137, 59);
}

.tab .active {
  background-color: #fdd627;
}

.gallery-flex{
  display: flex;
  flex-direction: row;
}

.content {
  background-color: white;
  padding: 10px;
}

.content h3{
  font-size: 24px;
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content p{
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-full h3{
  margin-left: 40%;
  font-size: 50px;
  padding-top: 40px;
  margin-bottom: 10px;
  
}

.contact-flex{
  display: flex;
  flex-direction: row;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
  background-color: #f5aa08;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d47f00;
}

.contact {
  border-radius: 5px;
  background-color: #fff5e9;
  padding: 20px;
  flex-grow: 1;
  margin-left: 20px;
}

footer{
  background-color:#222;
  padding:16px;
  color: #c08a25;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.footer a{
  color: #c08a25;
  
}

}